# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Debug
npm-debug.log*

# Vercel
.vercel

# Local env files
.env*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
